/logs
/.idea/
/frontend/__sapper__
/frontend/.env
/frontend/node_modules
/frontend/src/node_modules
/frontend/GIFS
/frontend/src/js/config.js
/frontend/src/js/wallet_approval.js
/frontend/src/js/whitelist.json
/database/blacklist.json
/database/node_modules/
/blockserviceAPI/node_modules/
/database/.env
/frontend/events/artist.json
.DS_Store
/tests/logs/test/Seneca.Parser.log
/tests/logs/test/Seneca.Parser.log_color
.python-version
venv