/logs
/.idea/
/frontend/__sapper__
/frontend/node_modules
/frontend/src/node_modules
/frontend/GIFS
/frontend/src/js/config.js
/frontend/src/js/wallet_approval.js
.DS_Store
/tests/logs/test/Seneca.Parser.log
/tests/logs/test/Seneca.Parser.log_color
